body{

	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}


.container {

	 background-color: #DCDCDC;
	 margin: auto;
}
input.form-control,textarea.form-control {

	box-shadow: none !important;
	border : 2px solid #eee;
}

input.form-control:focus,textarea.form-control:focus{

	border: 2px solid #ccc !important;
	box-shadow: none !important;
}

.input-error  {

	font-size: 12px;
	font-weight: bold;
	color: red;
	margin-left: 5px;
}



.wrapper{

	margin-top: 20px;
}
.contact-list  {

	height: 400px;
	overflow: auto;
	border: 1px solid lightgray;
	padding-left: 0;
	padding-right: 0;
}

.contact-list p
{
	font-weight: bold;
	font-size: 15px;
	background-color: #eee;
	padding: 6px;
	display: block;
}
.contactim {

	font-weight: bold;
}
.contact-list a {

  color: #333;
  font-weight: bold;
  font-size: 13px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%
  border-bottomd: 1px solid #fff;
  border-topd: 1px solid #ccc;
  transition: 0.2s;

}

#contact-infos{

	overflow: hidden;

}
.contact-list a:first-child {
 border-top:  none;

}

.contact-list a:last-child {
 border-bottom:  none;

}


.contact-list a:hover {background-color: #f1f1f1}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}


::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 6px;
}

.anim {

	height: 400px;
	border-top: 1px solid #ccc;
	margin-bottom: 1px solid #ccc;
	background-image: linear-gradient(to right, #fff,#eee,#ccc,#eee,#fff);
}


.list-group li:nth-child(even) {background-color: #f2f2f2;}
.list-group a:nth-child(even) {background-color: #f2f2f2;}
.list-group a:active{

}

.active{

	background-color: #CED3EF !important ;
	border : none  !important;
	color: black !important;
}

li.active {

	font-size: 16px;
	background-color: #f1f1f1 !important;
	border-bottom: 1px solid blue !important;
}



.list-group-item:last-child
{
        
    border-radius: 0px !important;
}

li.active{
 background-color: #DCDCDC !important;
 font-size: 15px !important;
 font-weight: bold;
 color: black !important;
 border-radius: 0px !important;
 border: none;
 padding-left: 0px !important;
 padding-right: 0px !important;
 border-bottom: 3px solid #0275d8 !important;

}
 
.list-group-item span { font-size: 15px ;}

.list-group-item span.key
{
   display: inline-block;
   width: 100px;
   text-align: right;
}

.value{
    margin-left: 40px;
    font-weight: bold;
    width: 200px;
 }


 .btn-carnet {
 	float: right;
 	padding: 2px 20px 2px 20px;
 	font-size: 15px;
 	border: none;
 }
 .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
   border:none !important;
}

#addContact{
	display: none;
}
.info-message{

	font-size: 16px;
	font-weight: bold;
	text-align: left;
}
form{

	border: 1px solid #eee;
	padding: 15px;
	background-color: #fff;
}

#form-message{

	color: green;
	font-weight: bold;
	font-size: 14px;
	margin: 10px;
	text-align: center;
}